<ActionBar class="action-bar">
	<Label class="action-bar-title" text="Cadastro de dieta"></Label>
	<ActionItem (tap)="save()"
		ios.systemIcon="3" ios.position="right"
		android.systemIcon="ic_menu_save" android.position="actionBar"
	></ActionItem>
</ActionBar>

<RadDataForm tkExampleTitle tkToggleNavButton [source]="cadastro" class="m-top-20">
    <TKEntityProperty tkDataFormProperty name="prato" index="0"
        displayName="Escolha um prato"
        [valuesProvider]="getPratos">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
    </TKEntityProperty>

    <TKEntityProperty tkDataFormProperty name="quantidade" index="1"
        displayName="Digite a quantidade máxima por dia">
    </TKEntityProperty>
</RadDataForm>