<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{ title: 'Visualizar' }"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{ title: 'Cadastrar' }"
        name="cadastrarTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{ title: 'Histórico' }"
        name="historicoTab">
    </page-router-outlet>

    <!-- 

    <page-router-outlet
        *tabItem="{title: 'Histórico', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet> -->

</TabView>