<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Histórico de dietas"></Label>
</ActionBar>

<RadCalendar
	eventsViewMode="Inline" 
	selectionMode="Single" 
	viewMode="Month"
	transitionMode="Stack"
	locale="pt-BR" 
	[eventSource]="events"
	
	(dateSelected)="onDateSelected($event)" 
	(dateDeselected)="onDateDeselected($event)" 
	(navigatedToDate)="onNavigatedToDate($event)" 
	(navigatingToDateStarted)="onNavigatingToDateStarted($event)"
	(viewModeChanged)="onViewModeChanged($event)"
></RadCalendar>